*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: lavender;
}
.container{
  background-color: white;
  width: 100%;
  text-align: center;
}
#userContainer{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 10px;
}
#userContainer > h1,
#userContainer > p,
#userContainer
>.card:first-of-type {
  grid-column: 1/-1;
}
.container h1{
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
}
.container p{
  font-size: 20px;
  font-weight: bold;
  color: darkred;
}
.card{
  margin-bottom: 20px;
}
.card button{
  padding: 8px 12px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: lightcyan;
  margin-bottom: 30px;
}
input:focus{
  border: 1px solid white;
  outline: none;
}
button:hover{
  background-color: blueviolet;
}


@media(max-width:518px){
  #userContainer{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding: 10px;
  }
  .container h1{
      font-size: 35px;
      font-weight: bold;
      color: darkblue;
  }
  .container p{
      font-size: 18px;
      font-weight: bold;
      color: darkred;
  }
}
@media(max-width:272px){
  #userContainer{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding: 10px;
  }
  .container h1{
      font-size: 25px;
      font-weight: bold;
      color: darkblue;
  }
  .container p{
      font-size: 14px;
      font-weight: bold;
      color: darkred;
  }
}
@media(max-width:216px){
  #userContainer{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding: 10px;
  }
  .container h1{
      font-size: 20px;
      font-weight: bold;
      color: darkblue;
  }
  .container p{
      font-size: 12px;
      font-weight: bold;
      color: darkred;
  }
}